*{box-sizing: border-box;
margin: 0;
padding: 0;}
.main{margin: 10% 30%;
background-color: rgb(255, 232, 155);
border-radius: 10px;
}
body{
    background-color: rgb(133, 224, 236);;
}
.n{padding: 10px;}
.m{display: flex;
justify-content: center;}
.return{display: flex;
justify-content: center;
transition: 0.5s ease;

}
a{text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 2px 5px;
    border-radius: 5px;
    margin: 10px;
background-color: rgb(155, 234, 248);}
a:hover{
    background-color: rgb(172, 172, 255);
}