*{
    margin: 0px;
    padding: 0px;
    
    
}
body{background-color: rgb(95, 97, 102);}
.navbar{
    background-color: aquamarine;
    display: flex;
    height: 40px;
    width: auto;
    border-radius: 10px;
    margin: 10px;
    justify-content: space-between;
    
}
li{margin-top: 10px;
    display: inline-block;
   margin-right: 26px;
    justify-content: space-between;
    align-items: center;
}
ul{margin-right: 20px;}
a{text-decoration: none;
color: black;}
a:hover{color: rgb(194, 129, 129);
}
.logo{margin-top: 6px;
    font-size: 15px;
    margin-left: 30px;;
}
.image2{
    margin: 10px 20px;
    background-color: rgb(133, 224, 236);
    border-radius: 10px;
    height: 86vh;
  
}
.n{
   
    padding: 17px;
    color: rgb(35, 49, 37);
}
img{width: 230px;
height: 230px;
margin-right: 150px;}
.image2{display: flex;
justify-content: space-between;
align-items: center;}
.t{font-size: 25px;
   color: rgb(63, 58, 50);
    margin-left: 150px;}